@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
  color: inherit;
}

.main-chat {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

/* total width */
.messages::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
  width: 6px;
}

/* background of the scrollbar except button or resizer */
.messages::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
.messages::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 1px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
.messages::-webkit-scrollbar-button {
  display: none;
}
